.banner {
  position: relative;
  margin: 98px 0 0;
  padding: 0 !important;
  background-image: url(./../../assets/img/banner/banner.png);
  height: 775px;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  width: 100%;
  @media (max-width: 1450px) {
    height: 620px;
    margin: 85px 0 0;
  }

  @media (max-width: 1024px) {
    margin: 0;
    height: 880px;
  }
  .banner-content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
    height: 100%;

    h1 {
      font-weight: 700;
      font-size: 25px;
      color: $background-2;
      margin-bottom: 60px;
      @media (max-width: 1024px) {
        margin-bottom: 35px;
      }
    }
  }
}

.banner-section {
  position: relative;
  padding: 0 !important;
  background-image: url(./../../assets/img/banner/banner-bairro.png);
  height: 510px;
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  width: 100%;
  overflow: initial;

  .container {
    position: relative;
    width: 100%;
    height: 100%;

    .bairro-desc {
      position: absolute;
      bottom: -120px;
      right: 0;
      height: 322px;
      width: 322px;
      background: #ffffff;
      box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
      border-radius: 16px;
      text-align: center;
      text-align: center;
      color: $base-2;
      font-weight: 400;
      font-size: 15px;
      padding: 33px;
      line-height: 30px;

      @media (max-width: 991px) {
        transform: translateX(-40%);
      }
      @media (max-width: 580px) {
        transform: translateX(-8%);
      }

      h1 {
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
      }

      p::before {
        content: "";
        position: absolute;
        display: block;
        width: 64px;
        height: 5px;
        background: #dc3545;
        bottom: 42px;
        left: calc(50% - 33px);
      }
    }
  }
}
