#hero {
  width: 100%;
  height: 80vh;
  background: #37517e;

  .container {
    padding-top: 72px;
  }

  h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
  }

  h2 {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
    font-size: 24px;
  }

  .btn-get-started {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px 0 0 0;
    color: #fff;
    background: #47b2e4;

    &:hover {
      background: #209dd8;
    }
  }

  .btn-watch-video {
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    margin: 10px 0 0 25px;
    color: #fff;
    line-height: 1;

    i {
      line-height: 0;
      color: #fff;
      font-size: 32px;
      transition: 0.3s;
      margin-right: 8px;
    }

    &:hover i {
      color: #47b2e4;
    }
  }

  .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;

    .animated {
      -webkit-animation: none;
      animation: none;
    }

    .hero-img {
      text-align: center;

      img {
        width: 50%;
      }
    }
  }
}

@media (max-width: 768px) {
  #hero {
    h1 {
      font-size: 28px;
      line-height: 36px;
    }

    h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }

    .hero-img img {
      width: 70%;
    }
  }
}

@media (max-width: 575px) {
  #hero {
    .hero-img img {
      width: 80%;
    }

    .btn-get-started {
      font-size: 16px;
      padding: 10px 24px 11px 24px;
    }
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

.gallery-product {
  .container {
    position: relative;
  }

  .slick-slide img {
    display: inline-block;
  }

  .slider-nav {
    height: 140px;
    margin: 15px 0;

    @media (max-width: 575px) {
      .slick-slide {
        margin: 0 5px;
      }
    }
  }

  .slick-slider {
    position: initial;
    cursor: pointer;

    .slick-arrow {
      position: absolute;
      top: 44%;
    }

    .slick-prev {
      left: -70px;
    }
    .slick-next {
      right: -63px;
    }
  }

  .slick-prev:before {
    border: solid #b3b3b3;
    border-width: 0 7px 7px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }

  .slick-next:before {
    border: solid #b3b3b3;
    border-width: 0 7px 7px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }

  .slider-for {
    .slick-track {
      max-height: 510px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .slider-nav {
    .slick-track {
      max-height: 140px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 120px;
      }

      @media (max-width: 991px) {
        max-height: 120px;

        img {
          height: 99px;
          // margin: 0 10px;
        }
      }
    }

    .slick-current img {
      margin: 0 auto;
    }
  }
}

.modal .slick-prev:before,
.modal .slick-next:before {
  color: #000;
}
