body {
  font-family: "Lexend", sans-serif;
  color: #ddd;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: #e3e2e2;
    border: 0px solid #e3e2e2;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #a6a6a6;
    border-radius: 20px;
    background-clip: content-box;
  }
}
#main {
  @media (max-width: 1024px) {
    display: flex;
    flex-direction: column;
  }
}
a {
  color: #47b2e4;
  text-decoration: none;
}

a:hover {
  color: #73c5eb;
  text-decoration: none;
}

.link {
  font-weight: 500;
  font-size: 14px;
  color: $primary-3;

  &:hover {
    color: $primary-1;
    transition: 0.3s ease-in;
  }
}

.no-padding {
  padding: 0;
}

#internal {
  padding: 85px 0;
  // height: 100vh;

  @media (max-width: 1024px) {
    padding: 30px;
  }
  @media (max-width: 1024px) {
    padding: 70px 10px;
  }

  .to-top {
    display: block !important;
    margin: 0 auto;
    width: 300px;
  }
}

.red {
  color: $primary-3;
}
/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999999;
  overflow: hidden;
  background: #494949;
  .preloader {
    position: relative;
    height: 100%;
    margin: 0 auto;

    .waviy {
      position: absolute;
      -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
      font-size: 45px;
      margin: 0 auto;
      text-align: center;
      font-weight: 100;
      top: 50%;
      right: 50%;
      transform: translateX(50%);
      width: 100%;

      @media (max-width: 1024px) {
        font-size: 35px;
        top: 42%;
      }
    }
    .waviy span {
      // font-family: "Alfa Slab One", cursive;
      position: relative;
      display: inline-block;
      color: #fff;
      text-transform: uppercase;
      animation: waviy 1s infinite;
      animation-delay: calc(0.1s * var(--i));
    }
    @keyframes waviy {
      0%,
      40%,
      100% {
        transform: translateY(0);
      }
      20% {
        transform: translateY(-10px);
      }
    }
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.to-top {
  display: none;
  @media (max-width: 1024px) {
    display: block;
    .btn {
      width: 260px;
      margin: 0 auto;
    }
  }
}

.bs {
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 50px 0;
}

@media (min-width: 1025px) {
  .desk-none {
    display: none;
  }
}

@media (max-width: 1024px) {
  .mob-none {
    display: none;
  }
}
