.district {
  .container-mob-full {
    max-width: 55%;
  }
  .section-paragraph {
    max-width: 84%;
    margin: 0 auto 55px;
    @media (max-width: 1024px) {
      line-height: 25px;
    }
  }
  .district-item {
    display: flex;

    @media (max-width: 1600px) {
      max-width: 750px;
      margin: 0 auto;
    }

    @media (max-width: 1400px) {
    }
    .district-box {
      position: relative;
      margin-bottom: 25px;

      @media (max-width: 1024px) {
        padding: 0 10px !important;
      }

      img {
        width: 100%;
        filter: contrast(50%);
        transition: 0.3s ease-in;
      }

      .district-infos {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-content: space-around;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        padding-right: 23px;

        .district-title {
          h3 {
            font-weight: 300;
            font-size: 17px;
            color: $background-2;
            text-align: center;
          }
        }
        .district-button {
          .btn-small {
            background: $background-2;
            border: 1px solid $base-3;
            font-size: 12px;
            border-radius: 8px;
            color: $base-3;
            text-align: center;
            padding: 10px 15px;
            transition: 0.3s ease-in;

            &:hover {
              background: $primary-2;
              color: $background-2;
              border: 1px solid $primary-2;
            }
          }
        }
      }
    }
  }
}
