section {
  padding: 35px 0;
  overflow: hidden;

  .section-title {
    text-align: center;
    padding-bottom: 15px;
    @media (max-width: 1024px) {
      padding-bottom: 10px;
    }

    h2 {
      font-weight: 400;
      font-size: 20px;
      margin-bottom: 0;
      color: $black;
    }
  }
  .section-paragraph {
    margin-bottom: 0;
    position: relative;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    color: $base-3;
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 55px;
    @media (max-width: 1024px) {
      font-size: 18px;
      line-height: 25px;
    }
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 105px;
      height: 5px;
      background: $primary-4;
      bottom: 0px;
      left: calc(50% - 72px);
    }
  }
  .section-paragraph-small {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: $black;
    @media (max-width: 1024px) {
      font-size: 18px;
    }
  }
}

.content-title {
  h2 {
    position: relative;
    font-weight: 500;
    font-size: 26px;
    text-align: center;
    color: $base-2;
    @media (max-width: 991px) {
      font-size: 15px;
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 64px;
      height: 4px;
      background: #dc3545;
      top: 50px;
      left: calc(50% - 35px);
      border-radius: 4px;

      @media (max-width: 1024px) {
        top: 50px;
      }
    }
  }
}
