.testimonials {
  @media (max-width: 1024px) {
    display: none;
  }
  .testimonials-item {
    margin: 0 16px;
    padding: 12px 0 33px;
    .testimonials-box {
      display: flex;
      align-items: flex-start;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-content: center;
      flex-direction: row;
      padding: 24px 24px 16px 32px;

      .testimonials-img {
        width: 68px;
        height: 70px;
        border-radius: 50%;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
        }
      }
      .testimonials-descriptions {
        flex: 1;
        padding-left: 15px;

        h3 {
          font-weight: 500;
          font-size: 20px;
          color: $base-1;
        }
        small {
          display: block;
          font-weight: 300;
          font-size: 15px;
          color: $base-3;
          margin-bottom: 15px;
        }
        p {
          font-weight: 300;
          font-size: 12px;
          line-height: 25px;
          color: $base-2;
        }
      }
    }
  }
  .swiper-wrapper {
    padding-bottom: 65px;
  }
  .swiper-pagination {
    margin-top: 30px;

    .swiper-pagination-bullet {
      width: 18px;
      height: 18px;
      background: #efefef;
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      width: 18px;
      height: 18px;
      background: #d7d7d7;
      opacity: 1;
    }
  }
}

.testemonials-video {
  margin-bottom: 50px;
}
.testemonials-content {
  @media (max-width: 1024px) {
    padding: 30px 0;
  }
  .btn {
    margin-top: 10px;
  }
}

.portfolio-details-slider2 {
  .testimonials-box {
    width: 452px;
    border: 1px solid #dee2e6;
    box-shadow: none;
  }
}
